#navIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    height: 2rem;
}

#logButton {
    border: 2px solid;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}
